[Unit]
Description=Run WikiHow Random Image Bluesky Bot on schedule

[Timer]
OnBootSec=2min
OnUnitActiveSec=6h
Persistent=true
Unit=wikihow-bsky-bot.service

[Install]
WantedBy=timers.target
