[Unit]
Description=Run WikiHow Random Image Bluesky Bot on schedule

[Timer]
OnCalendar=*-*-* 13:00:00
Persistent=true
Unit=wikihow-bsky-bot.service

[Install]
WantedBy=timers.target
